body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(#f5f5f4, rgb(214, 224, 134));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  color: springgreen;
  font-family: cursive;
  font-weight: 800;
  text-shadow: 4px 0.1cap 2px rgb(0, 0, 0);
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    color: skyblue;
  }
}

/* Game board styling */
#game-board {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.918);
  padding: 20px;
  border-radius: 10px;
  max-width: 450px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  box-sizing: border-box;
}

/* Card styling */
.card {
  background-color: #3a3975;
  box-shadow: -5px 3px 100px rgba(41, 40, 40, 0.918);
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  user-select: none;
  aspect-ratio: 1;
}

.card.flipped, .card.matched {
  background-color: #ecf0f1;
  color: #2c3e50;
  cursor: default;
}

.card.matched {
  background-color: #16a085;
  color: #fff;
}

/* Play Again button styling */
#restart-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#restart-btn:hover {
  background-color: #2980b9;
}

@media (max-width: 400px) {
  .card {
    font-size: 1.5rem;
  }
}